<div class="container">
<h4>新規登録</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "needs-validation", novalidate: true }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :validation01, "名前" %> <em>(最大6文字まで)</em><br />
      <%= f.text_field :name, autofocus: true, maxlength: "6", class: "form-control", id: "validation01", placeholder: "名前", required: true %>
      <div class="valid-tooltip">
        入力済み!
      </div>
    </div>
  
    <div class="col-md-6 mb-3">
      <%= f.label :validation02, "ニックネーム" %> <em>(最大6文字まで)</em><br />
      <%= f.text_field :nickname, autofocus: true, maxlength: "6", class: "form-control", id: "validation02", placeholder: "ニックネーム", required: true %>
      <div class="valid-tooltip">
        入力済み!
      </div>
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :validation03, "email" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "validation03", placeholder: "email", required: true %>
      <div class="valid-tooltip">
        入力済み!
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :validation04, "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上で入力してください)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "validation04", placeholder: "パスワード入力", required: true %>
      <div class="invalid-tooltip">
        入力済み!
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :validation05, "パスワード確認" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "validation05", placeholder: "パスワード確認", required: true %>
    </div>
    <div class="valid-tooltip">
        入力済み!
    </div>
    
  </div>
  
    <div class="actions col-md-3 mb-3">
      <%= f.submit "送信する", class: "btn btn-primary" %>
    </div>

<% end %>
</div>