<div class="book-container fadein_area">
  <ul>
    <% books.each do |book| %>
      <li class="card" style="min-width:20%; max-width:20%">
        <%= link_to user_book_path(id: book.id, user_id: current_user.id), method: :get do %>
          <img class="card-img-top" src="<%= book.image %>" alt="">
        <% end %>
          <div class="card-body">
            <p class="card-title"><%= book.title %></h4>
            <p>著者 : <%= book.author %></P>
            <p>登録日 : <br><%= book.created_at.strftime("%F") %></P>
            
            <% if user_signed_in? && book.user_id == current_user.id %>
            
              <button type="button" class="btn btn-secondary js-modal-open">
                削除
              </button>
  
              <div class="modal js-modal">
                <div class="modal__bg js-modal-close"></div>
                <div class="modal__content">
                  <p>この操作は取り消すことができません。
                  <br>この本を含むチェーンも一緒に削除されます。
                  <br>削除しますか？
                  </p>
                  <button type="button" class="btn btn-secondary js-modal-close" data-dismiss="modal">
                    キャンセル
                  </button>
                  <%= link_to user_book_path(id: book.id, user_id: current_user.id), method: :delete do %>
                    <button class="btn btn-primary delete_button">
                      削除
                    </button>
                  <% end %>
                </div>
              </div>

              <%= link_to edit_user_book_path(id: book.id, user_id: current_user.id), method: :get do %>
                <button class="btn btn-primary">
                  編集
                </button>
              <% end %>
            <% end %>
    
          </div>
      </li>
    <% end %>
  </ul>
</div> 