<div class="chain-container fadein_area">
  <% chains.each do |chain| %>
    <ul class="chain-box" id="result">
    <% chain[:new_chain].each do |book| %>
      <li class="card" style="min-width:25%; max-width:25%">
        <img class="card-img-top" src="<%= book.image %>" alt="">
          <div class="card-body">
            <p class="card-title"><%= book.title %></p>
            <p class="card-title">著者 : <%= book.author %></P>
          </div>
      </li>
    <% end %>
    
    <li class="chain_index_right-box">
    <div id="likes_buttons_<%= chain[:id] %>" class="like_button">
      <%= render partial: 'likes/like', locals: { chain: chain } %>
    </div>
  
    <% if user_signed_in? && chain[:user_id] == current_user.id %>
      
      <button type="button" class="btn btn-secondary js-modal-open">
        削除
      </button>
      
      <div class="modal js-modal">
          <div class="modal__bg js-modal-close"></div>
          <div class="modal__content">
              <p>この操作は取り消すことができません。<br>削除しますか？</p>
              
              <button type="button" class="btn btn-secondary js-modal-close" data-dismiss="modal">
                キャンセル
              </button>
              <%= link_to user_chain_path(id: chain[:id], user_id: current_user.id), method: :delete do %>
                <button class="btn btn-primary delete_button">
                  削除
                </button>
              <% end %>
          </div>
      </div>

    <% else %>
      <%= link_to user_path(id: chain[:user_id]), method: :get do %>
        <div class="nickname">
          <span><%= chain[:nickname] %></span>
        </div>
      <% end %>
    <% end %>
    </li>
    </ul>
  <% end %>
</div>