<div class="chain-container fadein_area">
  <% chains.each do |chain| %>
    <ul class="chain-box" id="result">
    <% chain[:new_chain].each do |book| %>
      <li class="card" style="min-width:25%; max-width:25%">
        <img class="card-img-top" src="<%= book.image %>" alt="">
          <div class="card-body">
            <p class="card-title"><%= book.title %></p>
            <p class="card-title">著者 : <%= book.author %></P>
          </div>
      </li>
    <% end %>
    
    <li class="chain_index_right-box">
    <div id="likes_buttons_<%= chain[:id] %>"　class="like_button">
      <%= render partial: 'likes/like', locals: { chain_info: chain} %>
    </div>
  
    <% if user_signed_in? && chain[:user_id] == current_user.id %>
      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#deleteModal">
        削除
      </button>
      <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <%= render partial: 'chains/delete-modal', locals: { chain: chain} %>
      </div>
    <% else %>
      <%= link_to user_path(id: chain[:user_id]), method: :get do %>
        <div class="nickname">
          <span><%= chain[:nickname] %></span>
        </div>
      <% end %>
    <% end %>
    </li>
    </ul>
  <% end %>
</div>