<div class="container" >
  <div class="form-box">
    <%= form_tag search_chains_path, class: "form-inline justify-content-end", method: :get, remote: true do %>
      <%= text_field_tag :search, params[:keyword], class: "form-cotrol mr-sm-2", placeholder: "search chains" %>
      <%= submit_tag '検索', class: "btn btn-outline-success my-2 my-sm-0 search-btn" %>
    <% end %>
  </div>

  <table class= "table table-bordered user_ranking">
    <tr>人気職人</tr>
    <tr>
    <% @user_ranks.each_with_index do |user, index| %>
      <td>
      <span>第<%= index + 1 %>位</span>
      <%= link_to user_path(id: user.id), class: "user_nickname", method: :get do %>
      <%= user.nickname %>
      <% end %>
      </td>
    <% end %>
    </tr>
  </table>
  
  <h4>NewChainsList</h4>
  <div id="search-result">
    <%= render partial: 'chain', locals: { chains: @chains} %>
  </div>
</div>