<div>
  <form class="form-inline justify-content-end">
    <input class="form-cotrol mr-sm-2" type="search" placeholder="search chains" aria-label="search chains">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
      
  <h4>NewChainsList</h4>
  
  <div class="card-group w-50">
    <% @chains.each do |chain| %>
      <div id="likes_buttons_<%= chain[:id] %>">
        <%= render partial: 'likes/like', locals: { chain_info: chain} %>
      </div>
      <% chain[:new_chain].each do |book| %>
        <div class="card" style="min-width:25%; max-width:25%">
          <img class="card-img-top" src="<%= book.image %>" alt="">
            <div class="card-body">
              <p class="card-title"><%= book.title %></p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><p>著者 : <%= book.author %></P></li>
              </ul>
            </div>
        </div>
      <% end %>
    <% end %>
</div>
