<div class="container" >
  <h3>MakeNewChain</h3>
  <div class="card-header">
  <form action="/users/<%= current_user.id %>/chains" method="post" >
    <div id="make-new-chain" class="card-group" ></div>
    <input type="submit" value ="RegisterNewChain" class= "btn btn-primary btn-block" >
  </form>


<h3>BookShelf</h3>
  <div class="book-container fadein_area">
    <ul>
      <% @books.each do |book| %>
        <li class="card" style="min-width:20%; max-width:20%" data-book-id="<%= book.id %>" >
          <img class="card-img-top" src="<%= book.image %>" alt="" >
            <div class="card-body">
              <p class="card-title"><%= book.title %></p>
              <p>著者 : <%= book.author %></P>
              <p>登録日 : <br><%= book.created_at.strftime("%Y-%m-%d") %></P>
              
              <button class="btn btn-primary new-chain-btn-add" 
              data-book-id="<%= book.id %>" data-book-title="<%= book.title %>"
              data-book-author="<%= book.author %>" data-book-created_at="<%= book.created_at %>"
              data-book-image="<%= book.image %>">追加</button>
            </div>
        </li>
      <% end %>
     
    </ul> 
    <div id ="bookshelf"></div>
  </div>
</div>