<!DOCTYPE html>
<html>
  <head>
    <title>BookChains</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <% flash.each do |name, msg| %>
      <% name = "info" if name == "notice" %>
      <% name = "danger" if name =="alert" %>
      
      <div class="alert alert-<%= name %>" role="alert">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>
    
  <main>

    <%= yield %>

    <div id="pagetop">
      <%= fa_stacked_icon("arrow-up",class: "fa-4x") %>
    </div>
  
  </main>

    <%= render "layouts/footer" %>

  </body>
</html>
